.pub-list {
    list-style: none;
    padding-left: 0;
}

.pub-bib-entry {
    margin-bottom: 1em;
    line-height: 1.6;
}

.pub-bib-entry a {
    text-decoration: none;
}

.pub-bib-entry a:hover {
    text-decoration: underline;
}
