{{- define "main" }}

<header class="page-header">
    <h1>{{ .Title }}</h1>
    {{- if .Description }}
    <div class="post-description">{{ .Description }}</div>
    {{- end }}
</header>

<div class="post-content">
    {{- if .Content }}{{ .Content }}{{ end }}

    {{- range .Sections }}

    {{- if eq .Title "Papers" }}
    <h2>Publications</h2>
    <ul class="pub-list">
        {{- $papers := sort .RegularPages "Title" "asc" }}
        {{- $papers = sort $papers "Date" "desc" }}
        {{- range $papers }}
        <li class="pub-bib-entry">
            <span><strong>{{ .Params.author }}</strong>. </span>
            <br />

            <span>
                {{- if .Params.link -}}
                <a href="{{ .Params.link }}" target="_blank">{{ .Title }}</a>
                {{- else -}}
                {{ .Title }}
                {{- end -}}
                . </span>
            <br />

            {{- with .Params.journal }}<span><em>{{ . }}</em>.</span><br />{{ end }}

            <div style="display: flex; justify-content: space-between; align-items: baseline;">
                <span>{{ .Date.Year }}.</span>
                <span>
                    {{- range .Params.extra }}
                    [<a href="{{ .url }}" target="_blank">{{ .name }}</a>]
                    {{- end }}
                </span>
            </div>
        </li>
        {{- end }}
    </ul>

    {{- else if eq .Title "Talks" }}
    <h2>Talks</h2>
    <ul class="pub-list">
        {{- $talks := sort .RegularPages "Title" "asc" }}
        {{- $talks = sort $talks "Date" "desc" }}
        {{- range $talks }}
        <li class="pub-bib-entry">
            <span>
                {{- if .Params.link -}}
                <a href="{{ .Params.link }}" target="_blank">{{ .Title }}</a>
                {{- else -}}
                {{ .Title }}
                {{- end -}}
                . </span>
            <br />

            {{- with .Params.context }}<span><em>{{ . }}</em>.</span><br />{{ end }}

            <div style="display: flex; justify-content: space-between; align-items: baseline;">
                <span>{{ .Date.Year }}.</span>
                <span>
                    {{- range .Params.extra }}
                    {{- if .url }}
                    [<a href="{{ .url }}" target="_blank">{{ .name }}</a>]
                    {{- end }}
                    {{- end }}
                </span>
            </div>
        </li>
        {{- end }}
    </ul>

    {{- end }}
    {{- end }}

</div>

{{- end }}