{{- define "main" }}

<header class="page-header">
    <h1>{{ .Title }}</h1>
    {{- if .Description }}
    <div class="post-description">
        {{ .Description }}
    </div>
    {{- end }}
</header>

<div class="post-content">
    {{- range .Pages }}

    <article class="post-entry pub-entry">

        <header class="entry-header">
            {{- if .Params.main_url }}
            <a href="{{ .Params.main_url }}" target="_blank" rel="noopener" class="entry-title-link">
                <h2>{{ .Title }}</h2>
            </a>
            {{- else }}
            <h2>{{ .Title }}</h2>
            {{- end }}
        </header>

        <div class="entry-meta pub-subtitle" style="display: flex; justify-content: space-between; width: 100%;">
            <span class="pub-authors">{{ .Params.authors }}</span>
            <span class="pub-date">
                <em>{{ .Date.Format "January 2006" }}</em>
            </span>
        </div>

        <div class="entry-content pub-abstract">
            {{ .Content }}
        </div>

        <footer class="entry-footer pub-footer"
            style="display: flex; justify-content: space-between; align-items: center; width: 100%; margin-top: 10px;">
            <span class="pub-venue">
                <em>{{ .Params.publication }}</em>
            </span>

            <div class="pub-links">
                {{- range .Params.links }}
                <a href="{{ .url }}" target="_blank" rel="noopener" style="margin-left: 10px;">
                    {{ .title }}
                </a>
                {{- end }}
            </div>
        </footer>

    </article>
    {{- end }}
</div>

{{- end }}